<section class="products py-5 mx-1 wow animate__backInLeft">
  <h2 class="title text-center fw-bold mb-4">Наши чайные коллекции</h2>
  <div class="row m-0 pb-4 gy-4">
    <div class="col-lg-4 col-md-6" *ngFor="let product of products">
      <div class="card rounded-1">
        <a class="popup-link" href="/catalog/{{ product.id }}" title="{{ product.title }}">
          <img src="{{ product.image }}" class="card-img-top" alt="{{ product.title }}">
        </a>
        <div class="card-body px-4 text-center text-md-start">
          <h5 class="card-title fw-bold">{{ product.title }}</h5>
          <p class="card-text">{{ product.description | compressText }}</p>
        </div>
        <div class="card-footer bg-transparent d-flex justify-content-between align-items-center">
          <span class="fw-bold fs-4">{{ product.price | currency: 'RUB' :'symbol-narrow': '.0-0'}}</span>
          <a [routerLink]="['/catalog', product.id ]" class="btn btn-primary btn-170 rounded-1 hvr-grow">Подробнее</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="loaderShow" class="loader-bg">
    <div class="loader"></div>
  </div>
</section>
