body {
  font-family: Arial, sans-serif !important;
  min-width: 320px !important;
}

.btn.btn-170 {
  width: 170px;
}

.btn.btn-156 {
  width: 156px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: 1px solid #076BFF;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #FFFFFF;
  color: transparent;
  display: flex;
  align-items: center;
  transition: all .5s ease;
}

.arrow-next {
  right: 12px;
}

.arrow-prev {
  left: 12px;
}

.arrow-next:before, .arrow-prev:before {
  position: absolute;
  height: 15px;
  width: 15px;
  border-right: 3px solid #076BFF;
  border-bottom: 3px solid #076BFF;
  z-index: 100;
  transition: all .5s ease;
}

.arrow-next:before {
  content: "";
  left: 8px;
  transform: rotate(-45deg);
}

.arrow-prev:before {
  content: "";
  left: 15px;
  transform: rotate(135deg);
}

.slick-arrow:hover {
  border: 1px solid #fff;
  background-color: #076BFF;
}

.slick-arrow:hover.arrow-next:before,
.slick-arrow:hover.arrow-prev:before {
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.accordion {
  max-width: 856px;
}

.icon-arrow {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("assets/images/chevron-right.svg")!important;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  margin-left: 20px;
  transition: all .3s ease;
}

.icon-arrow-up,
.ui-accordion-header:hover .icon-arrow-up {
  transform: rotate(-90deg);
}

.icon-arrow-down,
.ui-accordion-header:hover .icon-arrow-down {
  transform: rotate(90deg);
}

.order__form {
  max-width: 636px;
}

#orderSection .alert-success  {
  max-width: 636px;
  margin: 0 auto;
}

.loader-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.54);
}


.loader {
  color: #076BFF;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em,
    2em -2em 0 0em, 3em 0 0 -1em,
    2em 2em 0 -1em, 0 3em 0 -1em,
    -2em 2em 0 -1em, -3em 0 0 -1em,
    -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,
    3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
    -2em 2em 0 -1em, -3em 0 0 -1em,
    -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em,
    2em -2em 0 0, 3em 0 0 0.2em,
    2em 2em 0 0, 0 3em 0 -1em,
    -2em 2em 0 -1em, -3em 0 0 -1em,
    -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
    3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
    -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
    3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
    -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
    3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
    -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,
    3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
    -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,
    3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
    -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

